<% include blocks/header.ejs %>
<% include blocks/nav.ejs %>



<main>


    <hr/>

  <section>
    <div class="container">
      <div class="row animated bounceInLeft">

        <div class="col m3 s12">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">phone_android</i>
                Brand
                <span class="new badge">5</span>
              </div>
              <div class="collapsible-body">
                <form action="#">
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" value="Alcatel"/>
                    <label for="filled-in-box">Alcatel</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box1" value="Apple"/>
                    <label for="filled-in-box1">Apple</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box2" value="HTC"/>
                    <label for="filled-in-box2">HTC</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box3" value="Samsung"/>
                    <label for="filled-in-box3">Samsung</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box4" value="Sony"/>
                    <label for="filled-in-box4">Sony</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box5" value="Xiaomi"/>
                    <label for="filled-in-box5">Xiaomi</label>
                  </p>
                </form>
              </div>
            </li>
          </ul>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">phonelink_setup</i>
                Display
              </div>
              <div class="collapsible-body">
                <form action="#">
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box6" value="4.7"/>
                    <label for="filled-in-box6">4.7'</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box7" value="5.0"/>
                    <label for="filled-in-box7">5.0'</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box8" value="5.5"/>
                    <label for="filled-in-box8">5.5'</label>
                  </p>
                </form>
              </div>
            </li>
          </ul>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">photo_camera</i>
                Camera
              </div>
              <div class="collapsible-body">
                <form action="#">
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box9" value="8MP"/>
                    <label for="filled-in-box9">8MP</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box10" value="12MP"/>
                    <label for="filled-in-box10">12MP</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box11" value="16MP"/>
                    <label for="filled-in-box11">16MP</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box12" value="20MP"/>
                    <label for="filled-in-box12">20MP</label>
                  </p>
                </form>
              </div>
            </li>
          </ul>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">phonelink_setup</i>
                Memory
              </div>
              <div class="collapsible-body">
                <form action="#">
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box13" value="16gb"/>
                    <label for="filled-in-box13">16GB</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box14" value="32gb"/>
                    <label for="filled-in-box14">32GB</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box15" value="64gb"/>
                    <label for="filled-in-box15">64GB</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box16" value="128gb"/>
                    <label for="filled-in-box16">128GB</label>
                  </p>
                </form>
              </div>
            </li>
          </ul>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">phonelink_setup</i>
                Ram
              </div>
              <div class="collapsible-body">
                <form action="#">
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box17" value="3gb"/>
                    <label for="filled-in-box17">3GB</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box18" value="4gb"/>
                    <label for="filled-in-box18">4GB</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box19" value="6gb"/>
                    <label for="filled-in-box19">6GB</label>
                  </p>
                </form>
              </div>
            </li>
          </ul>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="fa fa-android" aria-hidden="true"></i>
                OS
              </div>
              <div class="collapsible-body">
                <form action="#">
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box20" value="Android"/>
                    <label for="filled-in-box20">Android</label>
                  </p>
                  <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box21" value="iOS"/>
                    <label for="filled-in-box21">iOS</label>
                  </p>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="col m9 s12">
          <div class="row">

            <div class="col s4">
              <div class="card">
                   <div class="card-image">
                     <img src="/public/img/mobile/1.jpg">
                   </div>
                   <div class="card-content center">
                     <span class="card-title">iPhone X</span>
                   </div>
                   <div class="card-action">
                     <a href="#">More info</a>
                   </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container center">
      <div class="row animated shake">
         <ul class="col s12 pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

      </div>
    </div>
  </section>
</main>


<% include blocks/footer.ejs %>
