<% include blocks/header.ejs %>
<% include blocks/nav.ejs %>

<main>
  <section class="view_mob">
    <div class="container">
        <div class="row">

            <div class="col offset-m1 m6 s12">
                <img width="100%" src="/public/img/mobile/1.jpg" class="materialboxed">
            </div>
            <div class="col m5 s12">
                <h3><a href="#" class="color">Apple iPhone X</a></h3>
                <span class="detail-reviews"><a href="#" rel="nofollow"><span class="rating" title="5.0 of 5"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></span></a></span>
                <p class="product-heading">A brand-new Super Retina display with diagonal 5.8 inches, which conveniently lies in the hand and looks amazing, this is the iPhone X.</p>
                <table class="saugroboter-details" title="iRobot Roomba 651 bei Amazon.de kaufen">
                    <tbody>
                      <tr class="main-price">
                        <th>The old price:</th>
                        <td class="price-uvp"><strong><strike>$ 999.00</strike></strong></td>
                        <th>New Price:</th>
                        <td><strong><a class="underline" rel="nofollow" href="#">$ 888</a></strong></td>
                    </tr>
                    </tbody>
                </table>
                <a class="a_link waves-effect waves-light btn btn-card" rel="nofollow" href="#"><i class="fa fa-shopping-cart"></i> Buy with Amazon: $ 840</a>
            </div>

        </div><!--row-->


        <div class="row">
             <div class="col s12">
               <ul class="tabs">
                 <li class="tab col s3"><a class="active" href="#spec">Specifications</a></li>
                 <li class="tab col s3"><a href="#revi">Reviews</a></li>
               </ul>
             </div>

            <div id="spec" class="col s12">
                <div class="tab_item">

                  <div class="left_sider">
                    <h3>Housing</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                          <td><b>Dimensions</b></td>
                          <td>143.6 x 70.9 x 7.7 mm</td>
                        </tr>
                        <tr>
                            <td><b>Weight</b></td>
                            <td>174 g</td>
                          </tr>
                          <tr>
                            <td><b>SIM</b></td>
                            <td>Nano-SIM</td>
                          </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->

                  <div class="left_sider">
                    <h3>Display</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                          <td><b>Type</b></td>
                          <td>Super Retina HD display</td>
                        </tr>
                        <tr>
                            <td><b>Size</b></td>
                            <td>5.8 inches</td>
                          </tr>
                          <tr>
                            <td><b>Resolution</b></td>
                            <td>1125 x 2436 pixels</td>
                          </tr>
                          <tr>
                            <td><b>Multitouch</b></td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td><b>Protection</b></td>
                            <td>Scratch-resistant glass</td>
                          </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->

                  <div class="left_sider">
                    <h3>Platform</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                          <td><b>Operating system</b></td>
                          <td>iOS 11</td>
                        </tr>
                        <tr>
                            <td><b>Chipset</b></td>
                            <td>Apple A11 Bionic</td>
                          </tr>
                          <tr>
                            <td><b>CPU</b></td>
                            <td>Hexa-core</td>
                          </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->


                  <div class="left_sider">
                    <h3>Memory</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                            <td><b>RAM</b></td>
                            <td>3GB</td>
                          </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->

                  <div class="left_sider">
                    <h3>Camera</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                            <td><b>Main</b></td>
                            <td>Dual 12 MP, f / 1.8 & f / 2.4,2x optical zoom, quad-LED (dual tone) flash</td>
                          </tr>
                          <tr>
                              <td><b>Frontal</b></td>
                              <td>7 MP, f / 2.2, 1080p@30fps, 720p@240fps, face detection, HDR, panorama</td>
                            </tr>
                            <tr>
                                <td><b>Video</b></td>
                                <td>2160p@24 / 30 / 60fps, 1080p@30 / 60 / 120 / 240fps</td>
                              </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->

                  <div class="left_sider">
                    <h3>Data transfer</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                            <td><b>WLAN</b></td>
                            <td>Wi-Fi 802.11 a / b / g / n / ac, dual-band, hotspot</td>
                          </tr>
                          <tr>
                              <td><b>Bluetooth</b></td>
                              <td>5.0</td>
                            </tr>
                            <tr>
                                <td><b>GPS</b></td>
                                <td>Yes, with A-GPS, GLONASS, BDS, GALILEO</td>
                              </tr>
                              <tr>
                                  <td><b>NFC</b></td>
                                  <td>Yes (Apple Pay only)</td>
                                </tr>
                                <tr>
                                    <td><b>USB</b></td>
                                    <td>3.0</td>
                                  </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->


                  <div class="left_sider">
                    <h3>Battery</h3>
                  </div>
                  <div class="right_sider">
                    <table class="striped">
                      <tbody>
                        <tr>
                            <td><b>Talk time</b></td>
                            <td>Up to 21 h</td>
                          </tr>
                          <tr>
                              <td><b>In music mode</b></td>
                              <td>Up to 60 h</td>
                            </tr>
                            <tr>
                                <td><b>Capacity</b></td>
                                <td>3000mAh</td>
                              </tr>
                        </tbody>
                    </table>
                  </div><!--right_sider-->


                </div><!--tab_item-->
            </div><!--spec-->


           <div id="revi" class="col s12">
              <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="1"></div>
             <div id="fb-root"></div>
     <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>

           </div><!--revi-->

        </div><!--row-->
    </div><!--container-->
</section>
</main>


<% include blocks/footer.ejs %>
