<!DOCTYPE html>
  <html>
    <head>
      <title><%= title %></title>
      <!--Icon-->
      <link rel="shortcut icon" href="img/favicon.ico">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <meta name="description" content="nodeJS Template">
      <meta name="author" content="Danian">


      <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

     <!-- Custom styles for this template -->
     <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
     <link href="/public/css/animate.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <div id="wrapper">
